.product_btn {
    background-color: black;
    color: white;
    border: 1px solid black;
    padding: 10px 15px;
    font-size: 15px;
}

.product_btn--summary {
    font-weight: bold;
    margin: 30px 0;
}

.checkout_details--button {
    font-weight: bold;
    padding: 10px 20px;
    width: 100%;
}

.product_btn--img {
    border: none;
    background-color: transparent;
}

.product_btn--quantity {
    width: 30px;
    height: 30px;
    font-weight: bold;
    font-size: 18px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
}