.header_h3 {
    font-size: 25px;
    font-weight: normal;
}

.product_text {
    font-weight: bold;
}

.product_text--qty {}

.product_text--quantity {

    font-size: 18px;
    padding: 0 5px;
}

.checkout_details--price {
    font-size: 18px;
}